*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: "Sora", sans-serif;
  --font-mono: "Space Mono", monospace;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  line-height: 1.7;
}
#welcome-screen{
  position: fixed;
  inset : 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5264);
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  animation: fadeOut 3s ease forwards;
  animation-delay:2s ;
}
#welcome-screen h1{
  font-size: 3rem;
  margin-bottom: 10px;
  animation: zoomIn 1.2s ease forwards;
}
#welcome-screen p {
  font-size: 1.2rem;
  animation: slideUp 1s ease forwards;
}

.progress-read{
  border: none;
  height: 8px;
  width: 100%;
  position: fixed;
  top: 2px;
  left: 0;
  z-index: 1000;
}
.percent{
  font-weight: 500;
  position: absolute;
  top: 7px;
  left: 8px;
  z-index: inherit;

}
.progress-bar{
 height: 10px;
 background-color: rgb(151, 26, 26);
transition: width 0.3s linear;
width: 0;
border-radius: 12px;
}
.change-mode{
  padding: 12px;
  color: white;
  background-color: black;
  border-radius: 19px;
  box-shadow: 2px 3px 4px grey;
  position: fixed;
  left: 22px;
  top: 40px;
}

.main-container {
  border: 5px solid black;
  background-color: rgb(236, 255, 255);
  max-width: 900px;
  border-radius: 1rem;
  margin: 0.6%;
  padding: 1rem 2rem;

  /* animation: zoomIn 4s ease forwards; */

}
#heading {
  text-align: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgb(151, 146, 146);
}
.top-container {
  display: flex;
  justify-content: space-around;
  margin: 33px;

  animation: zoomIn 4s ease forwards;
}
.top-container,.intro{
  padding: 25px 1px 110px 10px; /*  //TRBL */
}
.top-container img {
  width: 350px;
  margin-top: 45px;
  border-radius: 80px;
  box-shadow: 2px 9px 15px rgba(0, 0, 0, 0.475);
  border: 4px solid rgb(255, 242, 223);
}
.name {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
}

.content-heading {
  margin: 19px 5px;
  padding: 5px 68px;
  text-align: center;
  box-shadow: 2px 3px 3px rgb(146, 84, 84);
}
.content-heading:hover {
  box-shadow: 3px 4px 8px rgb(187, 85, 85);
  cursor: pointer;
}
.content {
  font-family: var(--font-mono);
  font-size: 1.2rem;
  word-spacing: 2px;
  /* line-height: 1.4; */
}

.biographies a {
  font-size: 1.45rem;
  font-weight: 700;
  text-decoration: none;
}
.biographies a:hover{
  color: rgb(225, 62, 62);
}
.reveal{
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-in ;
}
.reveal-show{
  opacity: 1;
  transform: translateY(0);
}
.top-scroll{
  font-size: 20px;
  font-weight: 550;
  padding: 12px;
  background-color: rgb(226, 228, 228);
  box-shadow: 2px 2px 9px rgb(84, 79, 79);
  border-radius: 9px;
  cursor: pointer;

  position: fixed;
  right: 23px;
  bottom: 23px; 
  
  opacity: 0;
  visibility: hidden;
}
.body-dark-mode{
  background-color: #77858a;
}
.main-container-dark-mode{
  background-color: #263338;
  color: white;
  border: 5px solid white;
}
.light-mode-button{
  background-color: white;
  color: black;
}

@keyframes zoomIn{
  from{
    transform: scale(0.5);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideUp{
  from{
    transform: translateY(40px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    visibility: hidden;
  }
} 

@media(max-width : 767px){
  .main-container{
    max-width: 95vw;
  }
  #heading {
    font-size: 25px;
  }
  .top-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .name{
    margin-top: 22px;
  }
}
@media(max-width : 480px){
  #welcome-screen h1{
    font-size: 2rem;
  }
  #welcome-screen p{
    font-size: 0.8rem;
  }
  .main-container{
    max-width: 98vw;
  }
    #heading {
    font-size: 25px;
  }
  .top-container img{
    width: 250px;
  }
    .name{
    margin-top: 22px;
    font-size: 12px;
  }
  .content-heading{
    font-size: 19px;
  }
  .content{
    line-height: 1.4;
   word-spacing: 1.5px;
   font-size: 1rem;
  }
  .biographies a{
    font-size: 1.2em;
  }
}